<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Liste des Risques</h4>
            </div>
            <div class="col-md-6">
              <a routerLink="/risques/add" class="float-right btn btn-info">Ajouter</a>
  
            </div>
          </div>
         
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>
                  Type
                </th>
                <th>
                  Date de Detection
                </th>
                <th>
                  Niveau
                </th>
                <th>
                  Acteur 
                </th>
                <th>
                  Source 
                </th>
               <th></th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td >
                    $36,738
                  </td>
                  <td >
                    $36,738
                  </td>
                  <td >
                    <a class="btn btn-outline-warning  btn-sm mr-2" title="consulter"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="btn btn-info btn-sm mr-2" routerLink="/risques/edit/1" title="Modifier"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-sm mr-2" title="Supprimer"><i class="fa fa-trash" aria-hidden="true"></i></a>

                  </td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
</div>
